*.iws
*.ipr
*.iml
.idea
.rvmrc
spec/rails_root/log
spec/rails_root/config/database.yml
spec/rails_root/vendor/rails
spec/rails_root/vendor/rails_versions
*.sqlite3
pkg
.DS_Store
scratch.rb
schema.rb
desert-*.gem
